<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Github Fight</title>
        <meta charset="UTF-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="src/style.css" rel="stylesheet">
    </head>

    <body>
        <div class="container" id="app">
            <div class="header clearfix">
                <nav>
                  <ul class="nav nav-pills pull-right">
                    <a href="https://github.com/marcosrjjunior"><span class="fa fa-github header-icon"></span></a>
                  </ul>
                </nav>
                <h3 class="text-muted">Github Fight <small>Add users and Fight!</small></h3>
              </div>

            <div class="jumbotron pn" v-if="ok">
                <h4>
                    <a href="https://github.com/{{ userWin.nickname }}">{{ userWin.nickname }}</a>
                </h4>
                <p class="lead">{{ userWin.message}}</p>
                <div class="giphy"></div>
            </div>

            <div class="row marketing">
                <div class="col-xs-5">
                    <div class="user-one">

                        <div class="panel panel-default" v-if=" ! submittedOne">
                            <!-- Default panel contents -->
                            <div class="panel-heading" v-listen="users.one">
                                <div class="input-group" v-if="disabled: true">
                                    <input type="text" class="form-control" placeholder="User Blue Corner" v-model="users.one.nickname" value="">
                                    <a class="input-group-addon btn" id="basic-addon2" v-on="click: getUser('one')" v-attr="disabled: requiredOne">
                                        <i class="fa fa-user-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <img class="octodex" src="https://octodex.github.com/images/luchadortocat.png">
                            </div>
                        </div>

                        <div class="panel panel-default" v-if="submittedOne">
                            <!-- Default panel contents -->
                            <div class="panel-heading" v-listen="users.one">
                                <label>
                                    {{ users.one.name }}
                                    <span class="fa fa-star"> {{ users.one.countStars }}</span>
                                </label>
                                <span class="pull-right fa fa-close" v-on="click: removeUser('one')"></span>
                            </div>
                            <div class="panel-body user-avatar">
                                <img class="users" v-attr="src: users.one.avatar">
                            </div>

                            <!-- List group -->
                            <ul class="list-group" v-repeat="repo: users.one.repos">
                                <li class="list-group-item">
                                    <button class="btn btn-link info-repo" type="button" data-toggle="popover" title="{{ repo.name }}" data-content="{{ repo.description }}">
                                        <span class="glyphicon glyphicon-chevron-up"></span>
                                    </button>
                                    <a href="{{ repo.url }}">
                                        {{ repo.name }}
                                    </a>
                                    <span class="pull-right fa fa-star repo-star">
                                        {{ repo.stars }}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xs-2 judge">
                    <img class="octodex-judge" src="https://octodex.github.com/images/steroidtocat.png">
                    <button class="btn btn-danger btn-lg fight" v-attr="disabled: requiredUsers" id="fight" v-on="click: fight">
                        FIGHT!
                    </button>
                </div>

                <div class="col-xs-5">
                    <div class="user-two">

                        <div class="panel panel-default" v-if=" ! submittedTwo">
                            <!-- Default panel contents -->
                            <div class="panel-heading" v-listen="users.two">
                                <div class="input-group" v-if="disabled: true">
                                    <input type="text" class="form-control" placeholder="User Red Corner" v-model="users.two.nickname" value="">
                                    <a class="input-group-addon btn" id="basic-addon2" v-on="click: getUser('two')" v-attr="disabled: requiredTwo">
                                        <i class="fa fa-user-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <img class="octodex" src="https://octodex.github.com/images/spidertocat.png">
                            </div>
                        </div>

                        <div class="panel panel-default" v-if="submittedTwo">
                            <!-- Default panel contents -->
                            <div class="panel-heading" v-listen="users.two">
                                <label>
                                    {{ users.two.name }}
                                    <span class="fa fa-star"> {{ users.two.countStars }}</span>
                                </label>
                                <span class="pull-right fa fa-close" v-on="click: removeUser('two')"></span>
                            </div>
                            <div class="panel-body user-avatar">
                                <img class="users" v-attr="src: users.two.avatar">
                            </div>

                            <!-- List group -->
                            <ul class="list-group" v-repeat="repo: users.two.repos">
                                <li class="list-group-item">
                                    <span class="btn btn-link info-repo" type="button" data-toggle="popover" title="{{ repo.name }}" data-content="{{ repo.description }}">
                                        <span class="glyphicon glyphicon-chevron-up"></span>
                                    </span>
                                    <a href="{{ repo.url }}">
                                        {{ repo.name }}
                                    </a>
                                    <span class="pull-right fa fa-star repo-star">
                                        {{ repo.stars }}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <footer class="footer">
                <p>
                    Made for study, this joke use <a href="http://vuejs.org/">Vuejs</a>, <a href="https://developer.github.com/v3/">Github API</a> and <a href="https://api.giphy.com/">Giphy API</a>. Compare Users
                </p>
                <p>
                    Created by <a href="https://github.com/marcosrjjunior"><strong>@marcosrjjunior</strong></a>
                </p>
            </footer>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="src/vue.min.js"></script>
        <script src="src/vue-resource.min.js"></script>
        <script src="src/app.js"></script>
        <script src="src/script.js"></script>
    </body>
</html>
